/* TopMenuBar.css */
.top-menu-bar {
    background-color: rgba(92, 108, 170, 0.486);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

@media (max-width: 480px) {
    .menu-items {
      flex-direction: column; /* Stack vertically for very narrow screens */
    }
  
    .menu-item {
      display: block;
      text-align: center; /* Center align for vertical stacking */
      padding: 8px;
      font-size: 14px;
    }
}
  
/* Home.css (or your main content CSS) */
  @media (max-width: 768px) {
    .content {
      padding: 20px; /* Increase padding */
    }
  
    .content h1 {
      font-size: 1.4em; /* Further reduce font size */
      margin-bottom: 10px; /* Add margin */
    }
  
    .content p {
      font-size: 0.9em; /* Further reduce font size */
      margin-top: 10px; /* Add margin */
    }
  
    .backgroundStyle {
      background-size: cover;
      background-position: center;
    }
  }
  
  @media (max-width: 480px) {
      .content h1 {
          font-size: 1.2em;
      }
      .content p{
          font-size: 0.8em;
      }
  }

.top-menu-bar:hover {
    background-color: rgba(92, 108, 170, 0.736);
}

.menu-items {
    display: flex;
    gap: 250px;
}

.menu-item {
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.menu-item:hover {
    background-color: rgba(176, 50, 50, 0.5);
    color: white;
}